html {
  position: relative;
  min-height: 100%;
}
 
body {
	text-align: center;
	margin: 0px 0px 60px 0px;
	padding: 0;
	background-color: #e9f0f1;
}

.frase {
	margin: 50px auto 0 auto;
}

.paraula  {
	display: inline-block;
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
	font-size: 40px;
	color: #204a87;
	line-height: 38px;
	height: 80px;
	vertical-align: middle;
}

.panel {
	background:#f1f2b9;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;
}
