<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadàver exquisit</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<div class="container">
	    <div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 frase">
				<div class="page-header alert alert-danger"><h1>Error</h1></div>
				<p class="lead">404 Recurs no trobat</p>
				<p>Segurament has escrit malament alguna cosa, prova anant-hi a través de la pàgina
				principal o torna-ho a escriure que tampoc costa tant i va bé per exercitar els dits ... </p>
				<p><a href="/">Pàgina principal</a> - <a href="/add">Afegir paraules</a></p>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">(cc) Ecs! com puc pretendre tenir copywrite d'això?</p>
		</div>
	</footer>
</body>
</html>