<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadàver exquisit</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<div class="container">
	  <div class="row frase">
	    <div class="col-sm-2"></div>
		<div class="col-sm-8">
		<div class="panel panel-primary">
  			<div class="panel-heading">Afegir noms</div>
  			<div class="panel-body">
				<p>
					<a href="/add/nom">Aquí</a>
				</p>
  			</div>
		</div>
		<div class="panel panel-primary">
  			<div class="panel-heading">Afegir adjectius</div>
  			<div class="panel-body">
				<p>
					<a href="/add/adjectiu">Aquí</a>
				</p>
  			</div>
		</div>
		<div class="panel panel-primary">
  			<div class="panel-heading">Afegir verbs</div>
  			<div class="panel-body">
				<p>
					<a href="/add/verb">Aquí</a>
				</p>
  			</div>
		</div>
		</div>
		<div class="col-sm-2"></div>	
	 </div>	
	 <div class="row"><a href="/">Tornar</a></div>		
	</div>
		<footer class="footer">
		<div class="container">
			<p class="text-muted">(cc) Ecs! com puc pretendre tenir copywrite d'això?</p>
		</div>
	</footer>
</body>
</html>