<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadàver exquisit</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<div class="container">
		<div class="span12 frase">

			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="'Afegir ' + ${tipus}">Afegir
						adjectius</div>
					<div class="panel-body">

						<form action="#" th:action="@{/add}" th:object="${paraula}"
							method="post" role="form">
							<input type="hidden" th:field="*{tipus}" />
							<div class="form-group">
								<label for="singularm">Singular masculí </label> <input
									type="text" th:field="*{singularMasculi}" class="form-control" required
									id="singularm">
									<div class="alert alert-danger fade in" role="alert" 
									     th:if="${#fields.hasErrors('singularMasculi')}" th:errors="*{singularMasculi}">Name Error</div>
							</div>
							<div class="form-group">
								<label for="singularf">Singular femení </label> <input
									type="text" th:field="*{singularFemeni}" class="form-control" required
									id="singularf">
									<div class="alert alert-danger fade in" role="alert" 
									     th:if="${#fields.hasErrors('singularFemeni')}" th:errors="*{singularFemeni}">Name Error</div>									
							</div>
							<div class="form-group">
								<label for="pluralm">Plural masculí</label> <input type="text"
									th:field="*{pluralMasculi}" class="form-control" required id="pluralm">
									<div class="alert alert-danger fade in" role="alert" 
									     th:if="${#fields.hasErrors('pluralMasculi')}" th:errors="*{pluralMasculi}">Name Error</div>									
							</div>
							<div class="form-group">
								<label for="pluralf">Plural femení</label> <input type="text"
									th:field="*{pluralFemeni}" class="form-control" required id="pluralf">
									<div class="alert alert-danger fade in" role="alert" 
									     th:if="${#fields.hasErrors('pluralFemeni')}" th:errors="*{pluralFemeni}">Name Error</div>																		
							</div>
							<button type="submit" class="btn btn-default" name="boto">Afegir</button>
						</form>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">(cc) Ecs! com puc pretendre tenir copywrite d'això?</p>
		</div>
	</footer>
</body>
</html>