<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="20">
<title>Cadàver exquisit</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<div class="container">
		<div th:if="${resultat}=='Desat'" class="alert alert-success fade in"
			role="alert">
			<a class="close" data-dismiss="alert" aria-label="close">×</a> <strong
				th:text="'Desat ' + ${paraula}">desat!</strong>
		</div>
		<div th:if="${resultat}=='Error'" class="alert alert-danger fade in"
			role="alert">
			<a class="close" data-dismiss="alert" aria-label="close">×</a> <strong
				th:text="'Error ' + ${paraula}">desat!</strong>
		</div>
		<div class="span12 frase">
			<div th:each="paraula : ${paraules}" class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div th:text="${paraula}" class="panel-body paraula">Paraula</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<div class="row">
			Per <a href="/add">afegir</a> paraules
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">(cc) Ecs! com puc pretendre tenir copywrite
				d'això?</p>
		</div>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"
		th:src="@{/webjars/jquery/1.12.3/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>